{% extends "contactos/base.html" %}


{% block title %}Detalle de Contacto{% endblock %}

{% block content %}
<h1 class="text-2xl font-bold mb-4">{{ contacto.nombre }}</h1>

<div class="bg-white p-6 rounded shadow w-full max-w-md">
  <p><strong>Correo:</strong> {{ contacto.correo }}</p>
  <p><strong>Teléfono:</strong> {{ contacto.telefono }}</p>
  <p><strong>Dirección:</strong> {{ contacto.direccion }}</p>
</div>

<div class="mt-4 flex gap-3">
  <a href="{% url 'editar_contacto' contacto.id %}" class="bg-green-600 text-white px-4 py-2 rounded">Editar</a>
  <a href="{% url 'eliminar_contacto' contacto.id %}" class="bg-red-600 text-white px-4 py-2 rounded">Eliminar</a>
  <a href="{% url 'lista_contactos' %}" class="bg-gray-600 text-white px-4 py-2 rounded">Volver</a>
</div>

{% endblock %}
